h3{
    text-align: center;
    color: #003a33;
    margin-right: 30%;
    margin-top: 4%;
}


div h2{
    text-align: center;
}
h2{
color: #275651;
text-align: center;
margin: auto;
margin-top: 30px;
margin-bottom: 30px;
font: "Work Sans" ;

}

.txtapropos{
    text-align: center;
    font-weight: 400;
    color: #003a33;
    margin: 6%;
    font-size: 15px;
}

.boiteroller{
    text-align: center;
    display: flex;
}
.roller_txt{
    color: #275651;
text-align: center;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 5% 10%;
border: 2px;
}
.vide {
    height: 120px;  
}
.space {
    height: 20px;
}
.txtblanc{
    color: #ffffff;
}

.fufu{
    width: 100%;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    margin-right: 50%;
  
    position: fixed;
    z-index: 9000;
}
.greenfufu{
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index:7999;
    pointer-events: none;
}



.burger{
    height: 3%;
    transform: translate(-50%, -50%);
    margin-left: 90%;
    margin-top: 4%;
    position: fixed;
    z-index:99999;
}
body {
   
    font-family:"Work Sans", serif;

  }

.logo{
    width: 180px;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    margin-right: 50%;
    margin-top:40px;
    position: fixed;
    z-index:9899;
}

#fondpc {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index:-9000;
    visibility: hidden;
    pointer-events: none;
}
#fondtel {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index:-9000;
    pointer-events: none;
}
#fondtel2 {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index:8000;
    pointer-events: none;
}

.imgmenu{
    width: 80%;
}
.divimgmenu{
    text-align: center;
}

.btn{
    color:white;
    padding: 5px;
    background-color:#cca002;
    border: 2px;
    border-radius: 30px;
    text-align: center;
    
}
.btn:hover{
    color: #ffffff;
    background-color:#275651;
    border: 2px;
    transition: .2s;

    
}
.btnroller{
    padding-left: 30%;
    padding-right: 30%;
}

.menu__btn {
    border: none;
    background-color: transparent;
    font-family: sans-serif;
    padding: 0;
    cursor: pointer;

   
    background-color: rgba(255, 255, 255, 0);
    width: 35px;
    height: 35px;


    text-indent: 100%; 
    white-space: nowrap;
    overflow: hidden;

  
    background-image: url("images/burger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;


    position: fixed;
    top: 20px;
    right: 5px;
    z-index: 99999;
   
}

.menuliste {
  
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #275651;
    z-index: 99998;
    text-align: left;

    
    position: fixed;
    top: 0;
    right: 0;
    width:45%;
    height: 100%;
    
   
    transform: translateX(100%);
    transition: transform 0.5s;

}
.elemenu{
    text-align: left;
}

.menu--open .menuliste {
    transform: translateX(0);
}

.menu--open .menu__btn {
    background-size: 70%;
}

.elemenu{
    color:#cca002;
    padding: 10px;
    font-weight: 600;
    font-family: "Work Sans";
}
a{
    text-decoration: none;
    color:#87c8c0;
}
.menupc{
    position: fixded;
    display: none;
}
.fufupc{
    display: none;
    
}
.fufupcbot{
    display: none;
}

.ep img  {
    
    width: 250px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.ep p {
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size:21px ;
    color: #275651;
}
.story img{
    
    width: 200px;
}
.boitehistoires{
    text-align: center;
}
.champ-texte {
    
    border: none; 
    background-color:#599790; 
    padding: 10px;
    margin:10px; 
    font-size: 20px; 
    color: #ffffff;
    width: 70%; 
    box-sizing: border-box;
    border-radius: 25px;
    white-space: pre-wrap;
    resize: none;
    overflow: hidden;
}

.champ-texte::placeholder {
    color: #ffffff; 
    font-family: "Work Sans";
    opacity: 1; 
}

.boiteamessages{
    resize: none;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}
@media (min-width: 420px) {

    .logo{
       
        right: 0;
        width: 250px;
        transform: translate(-50%, -50%);
        margin-left: auto;
        margin-right: -5%;

        margin-top:70px;
        z-index:9899;
    }

    .menu__btn{
        display: none;

    }
#fondtel{
    display: none;
    visibility: hidden;
    pointer-events: none;
}
#fondtel2{
    display: none;
    visibility: hidden;
    pointer-events: none;
}
#fondpc{
    height: 100%;
    width: auto;
    visibility: visible;
    z-index: 0;
    pointer-events: none;
}
.fufu{
 visibility: hidden;   
}
.greenfufu{
    visibility: hidden;
}




.elemenu{
    color:#87c8c0;
    padding: 100px;
    font-weight: 600;
    font-family: "Work Sans";
}

.btnpc{
    margin:5px;
    color:#599790;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 45px;

}
.btnpc:hover{
    background-color: #cca002;
    color:#cca002;
    transition: .2s;
    
}

.btnpc:active{
   background-color: #005d54;
}
.boxmenupc{
    display: flex;
    position:fixed;
    margin-top: 40px;
    margin-left: 10%;
    font-size:22px;
    font-weight: 400;
    z-index: 6000;
}
.roller_txt{
    font-size: 24px;
}
.btn{
    
    font-size: 24px;
    color:white;
    padding-left: -10%;
    padding-right: -50%;
    padding: 5px;
    background-color: #599790;
    border: 2px;
    border-radius: 30px;
    text-align: center;
}

.bigboite{
    margin-top: 100px;;
    width: 40%;
    float: left;
    margin-left: 5%;
    
    z-index: -99999;
}
.zonedair{
    width: 20px;

    text-align: center;
}


.fufupc{
    display: block;
    position: fixed ;
    margin: -150px;
    z-index: 5000;
}
.fufupcbot{
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    margin-top: 50px;

}

.imgmenu{
    width: auto;
    height: 200px;
    margin: auto;
}
.boiteepisode {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center; 
    text-align: center; 
}

.ep img  {
    width: 250px;
    display: block;
}

.ep p {
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size:21px ;
    color: #275651;
}
.boitehistoires {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    text-align: left; 
 
}

.story img {
    max-width: 220px; 
    height: auto;
    ;
    display: block;
}

.story p {
    margin-top: 10px;
    font-size: 1em;
   
    color:#275651; 
    font-weight: 400;
}
.story{
    text-align: center;
    
}
.bigboitehistoire{
    margin-right: 55%;
    margin-left: 5%;
    align-items: left;
   
}
.boiteamessages{
    margin-right: 30%;
    margin-top: 4%;
}
.txtapropos{
    text-align: left;
    font-size: 19px;
    
}
.petittitre{
    text-align: left;
    
}
#episodescentre{
    text-align: center;
}
p  h2 {
    font-size: 25px;
}
}
